<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
    <img src="/images/logo.jpg" alt="the shop" class='logo'>
</div>
<div>
<footer>
      <nav>
        <a href="/keyboard"><h2>Find a keyboard</h2></a>
        <a href="/guitars"><h2>Find a guitar</h2></a>
        <a href="/drums"><h2>Find drums</h2></a>
        <a href="/contact"><h2>Contact Us<h2></a>
      </nav>
    </footer>
</div>

{{!-- <a href="/"><h2>Back Home<h2></a> --}}
