<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
<a href="/">Home</a>
<a href="/contact">Contact Us</a>
    </nav>
    </header>
    <footer>
      <nav>
        <a href="/keyboard"><h2>Find a keyboard</h2></a>
        <a href="/guitars"><h2>Find a guitar</h2></a>
        <a href="/drums"><h2>Find drums</h2></a>
        <a href="/contact"><h2>Contact Us<h2></a>
      </nav>
    </footer>

    {{{body}}}
  </body>
</html>
